name: CI

on:
  pull_request:
  push:
    branches: [ "main" ]

jobs:
  test-and-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true

      - name: Download dependencies
        run: go mod download

      - name: Run tests
        run: go test ./... -v

      - name: Run golangci-lint
  	uses: golangci/golangci-lint-action@v6
  	with:
    	  version: v1.64.8
    	  install-mode: goinstall
          args: --timeout=5m --config=.golangci.yml
          skip-cache: true
  	env:
    	  GOFLAGS: -mod=mod
